.sky-circle {
    position: absolute;
    left: 20%;
    top: 34.48%;
    width: 29px;
    height: 29px;

    background: #3670AE;
    border-radius: 50%;
}

.red-circle {
    position: absolute;
    left: 40%;
    top: 41.59%;
    width: 29px;
    height: 29px;

    background: #CE4136;
    border-radius: 50%;
}

.magenta-circle {
    position: absolute;
    left: 70%;
    top: 35.19%;
    width: 29px;
    height: 29px;

    background: #CF3673;
    border-radius: 50%;
}

.blue-circle {
    position: absolute;
    left: 90%;
    top: 37.2%;
    width: 29px;
    height: 29px;

    background: #332C7D;
    border-radius: 50%;
}

.orange-circle {
    position: absolute;
    left: 50%;
    top: 48.93%;
    width: 29px;
    height: 29px;

    background: #E1973E;
    border-radius: 50%;
}

.lime-circle {
    position: absolute;
    left: 80%;
    top: 49.29%;
    width: 29px;
    height: 29px;

    background: #9EBC45;
    border-radius: 50%;
}

.green-circle {
    position: absolute;
    left: 10%;
    top: 55.45%;
    width: 29px;
    height: 29px;

    background: #5AA76C;
    border-radius: 50%;
}

.purple-circle {
    position: absolute;
    left: 30%;
    top: 48.93%;
    width: 29px;
    height: 29px;

    background: #87307E;
    border-radius: 50%;
}

.violet-circle {
    position: absolute;
    left: 60%;
    top: 57.46%;
    width: 29px;
    height: 29px;

    background: #5D327E;
    border-radius: 50%;
}

.text {
    padding-top: 900px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Menlo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: 'center';
    display: block;
    
    color: #000000;
}

@media (max-height: 1024px){
    .text {
        padding-top: 700px;
    }
}

@media (max-height: 950px){
    .text {
        padding-top: 570px;
    }
}

@media (max-height: 750px){
    .text {
        padding-top: 500px;
    }
}

@media (max-height: 670px){
    .text {
        padding-top: 450px;
    }
}

@media (max-height: 610px){
    .text {
        padding-top: 370px;
    }
}


.fade-in {
    transform: translateX(-14.5px);
    opacity: 0;
    vertical-align: middle;
    animation: fade-in-animation 0.7s ease-in-out forwards;
    cursor: pointer;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in:nth-child(1) {
    animation-delay: 0s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.3s;
}

.fade-in:nth-child(3) {
    animation-delay: 0.6s;
}

.fade-in:nth-child(4) {
    animation-delay: 0.9s;
}

.fade-in:nth-child(5) {
    animation-delay: 1.2s;
}

.fade-in:nth-child(6) {
    animation-delay: 1.5s;
}

.fade-in:nth-child(7) {
    animation-delay: 1.8s;
}

.fade-in:nth-child(8) {
    animation-delay: 2.1s;
}

.fade-in:nth-child(9) {
    animation-delay: 2.4s;
}

@keyframes slide-in-animation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in {
    vertical-align: middle;
    padding-top: 1.9px;
    opacity: 0;
    animation: slide-in-animation 0.5s forwards;
}

.legend {
    transform: rotate(-90deg); 
    transform-origin: left top; 
    padding-left: 30px;
    padding-top: 6px;
    width: 330px;
    height: 29px;
    text-align: left;
    font-size: 11px;
}