.heading {
    padding: 30px;
    margin-top: 50px;
}

/* @media (max-height: 1024px){
    .heading {
        margin-top: 500px;
    }
}

@media (max-height: 950px){
    .heading {
        margin-top: 300px;
    }
}

@media (max-height: 750px){
    .heading {
        margin-top: 200px;
    }
}

@media (max-height: 670px){
    .heading {
        margin-top: 50px;
    }
}

@media (max-height: 610px){
    .heading {
        margin-top: 80px;
    }
} */